<div class="container">
    
    <div class="panel-group" id="accordion">
        <div class="faqHeader">General questions</div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Is account registration required?</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    Yes, In order to book a tour you are required to register and provide all passangers information.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">How can I register?</a>
                </h4>
            </div>
            <div id="collapseTen" class="panel-collapse collapse">
                <div class="panel-body">
                    You can click the signup button at the top of the page or visit /users/sign_up
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">How can I view tour times?</a>
                </h4>
            </div>
            <div id="collapseTen" class="panel-collapse collapse">
                <div class="panel-body">
                    To view tour times, select the tour and click order tour, select the date you are hoping to go on the tour and a list of available times will be displayed.
                </div>
            </div>
        </div>        
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">What is the currency used for all transactions?</a>
                </h4>
            </div>
            <div id="collapseEleven" class="panel-collapse collapse">
                <div class="panel-body">
                    As this is an assignment, we do not currently handly transactions.
                </div>
            </div>
        </div>


        <div class="faqHeader">Customers</div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFourteen">How do I view my account</a>
                </h4>
            </div>
            <div id="collapseFourteen" class="panel-collapse collapse">
                <div class="panel-body">
                   In order to view your account, you must be signed in, Once you are signed in, click the top right 'Welcome username' and select 'View Profile'
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven1">How do I edit my account?</a>
                </h4>
            </div>
            <div id="collapseSeven1" class="panel-collapse collapse">
                <div class="panel-body">
                     In order to view your account, you must be signed in, Once you are signed in, click the top right 'Welcome username' and select 'Edit Profile', This can also be completed via the 'View Profile' page
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven2">How do I view previous orders</a>
                </h4>
            </div>
            <div id="collapseSeven2" class="panel-collapse collapse">
                <div class="panel-body">
                    In order to view your account, you must be signed in, Once you are signed in, click the top right 'Welcome username' and select 'View Profile'
                </div>
            </div>
        </div> 
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven3">How do I view order details?</a>
                </h4>
            </div>
            <div id="collapseSeven3" class="panel-collapse collapse">
                <div class="panel-body">
                    In order to view your account, you must be signed in, Once you are signed in, click the top right 'Welcome username' and select 'View Profile'
                </div>
            </div>
        </div>        
    </div>
</div>

<style>
    .faqHeader {
        font-size: 27px;
        margin: 20px;
    }
 

 
</style>