<h1>Listing Users</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>User ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>#<%= user.id %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td width="100"><a href="" class="btn btn-warning btn-block btn-sm" disabled="">Edit</a></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
 
